.nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}
.nav ul li {
    display: inline-block;
    position: relative;
    margin-inline: 15px;
}
.nav ul a {
    text-decoration: none;
    
}
.brand {
    text-decoration: none;
    text-align: left;
}
.row {
    margin-top: 30px;
}
nav img {
    position: relative;
    background-size: cover;
}
.nav {
    position: fixed;
    z-index: 1030;

}